<div class="container">
	<div class="table-responsive">
	  <table class="table table-striped" id="resultstable">
	    <thead>
	      <tr>
	        <th> Plating Number </th>
	        <th> Cell Dilution Volumes</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td> 10,000 </td>
	        <td id="10kc"> Dilution Volume will show here </td>
	      </tr>
	      <tr>
	        <td> 30,000 </td>
	        <td id="30kc"> Dilution Volume will show here  </td>
	      </tr>
	      <tr>
	        <td> 50,000 </td>
	        <td id="50kc"> Dilution Volume will show here  </td>
	      </tr>
	      <tr>
	        <td> 100,000 </td>
	        <td id="100kc"> Dilution Volume will show here  </td>
	      </tr>
	      <tr>
	        <td> 200,000 </td>
	        <td id="200kc"> Dilution Volume will show here  </td>
	      </tr>
	      <tr>
	        <td> 250,000 </td>
	        <td id="250kc"> Dilution Volume will show here  </td>
	      </tr>
	      <tr>
	        <td> 500,000 </td>
	        <td id="500kc"> Dilution Volume will show here  </td>
	      </tr>
	    </tbody>
	  </table>
	</div>
</div>
