<div class="container">
	{{result}}
	<p id="centertext"> Tap a box below to start counting </p>
	<div class="row">
    <div class="col-xs-4 boxgrid" style="border-right-width:0px;border-bottom-width:0px" id="box1" [routerLink]="['/cellcount']" lAHighlight>
      <br><h1 id="centertext" style="vertical-align:middle"> 1 </h1>
    </div>
    <div class="col-xs-4 boxgrid" style="border-bottom-width:0px" id="box2" [routerLink]="['/cellcount']" lAHighlight>
      <br><h1 id="centertext" style="vertical-align:middle"> 2 </h1>
    </div>
    <div class="col-xs-4 boxgrid" style="border-bottom-width:0px;border-left-width:0px" id="box3" [routerLink]="['/cellcount']" lAHighlight>
      <br><h1 id="centertext" style="vertical-align:middle"> 3 </h1>
    </div>
	</div>
	<div class="row">
	  <div class="col-xs-4 boxgrid" style="border-right-width:0px" id="box4" [routerLink]="['/cellcount']" lAHighlight>
	    <br><h1 id="centertext" style="vertical-align:middle"> 4 </h1>
	  </div>
	  <div class="col-xs-4 boxgrid" id="box5" [routerLink]="['/cellcount']" lAHighlight>
	    <br><h1 id="centertext" style="vertical-align:middle"> 5 </h1>
	  </div>
	  <div class="col-xs-4 boxgrid" style="border-left-width:0px" id="box6" [routerLink]="['/cellcount']" lAHighlight>
    <br><h1 id="centertext" style="vertical-align:middle"> 6 </h1>
  	</div>
	</div>
	<div class="row">
	  <div class="col-xs-4 boxgrid" style="border-top-width:0px; border-right-width:0px" id="box7" [routerLink]="['/cellcount']" lAHighlight>
	    <br><h1 id="centertext" style="vertical-align:middle"> 7 </h1>
	  </div>
	  <div class="col-xs-4 boxgrid" style="border-top-width:0px" id="box8" [routerLink]="['/cellcount']" lAHighlight>
	    <br><h1 id="centertext" style="vertical-align:middle"> 8 </h1>
	  </div>
	  <div class="col-xs-4 boxgrid" style="border-top-width:0px;border-left-width:0px" id="box9" [routerLink]="['/cellcount']" lAHighlight>
	    <br><h1 id="centertext" style="vertical-align:middle"> 9 </h1>
	  </div>
	</div>
	<div class="text-center">
	<br><br>
		<button type="button" class="btn btn-success" [routerLink]="['/results']" (click)="calculateVols()" >Calculate Dilution Volumes</button>
		<button type="submit" class="btn btn-primary" (click)="showVals()">Console values</button>
	</div>
</div>