<div class="container-fluid">
	<div class="row" id="centertext">
	  <p>You are currently counting box # </p><p id="box#display">{{id}}</p>
	</div>
	<br><br>
	<div class="row">
    <p id="centertext"> Tap the buttons below to count the cells. <br>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <p id="centertext"> Green for live cells. <br>
      	<img src="/app/shared/green.png" class="img-rounded" (click)="liveCellCounter()">
      </p>
      <p id="greencount"></p>
      <p id="greenctdisplay" class="displayct">{{liveBoxCount}}</p>
    </div>
    <div Class="col-xs-6">
      <p id="centertext"> Red for dead cells. <br>
      	<img src="/app/shared/red.png" class="img-rounded" (click)="deadCellCounter()">
      </p>
      <p id="redctdisplay" class="displayct">{{deadBoxCount}}</p>
    </div>
  </div>
  <div class="row text-center">
    <!--<div class="col-xs-4 text-center">-->
      <button type="button" class="btn btn-warning" (click)="back()">
        <br>Back<br><br>
      </button>
    <!--</div>-->
    <!--<div class="col-xs-4 text-center">-->
      <button type="button" class="btn btn-primary" (click)="addToCellArrays()">
        <br>Submit Cell Count<br><br>
      </button>
    <!--</div>-->
    <!--<div class="col-xs-4 text-center">-->
      <button type="button" class="btn btn-warning" (click)="resetCount()">
        <br>Reset Count<br><br>
      </button>
    <!--</div>-->
  </div>
</div>