<div class="container">
<!--<form (ngSubmit)="onSubmit(f)" #f="ngForm">-->
	<div>
		<p> Did you dilute your cell counting volume? If so, by how much?<br></p>
		<br>
		<!--<div class="radio" *ngFor="let d of this.ccs.diluteRatioOptions">
			<label>
				<input type="radio"
							#diluteRadio
							[value]="d">
				{{d}}
			</label>
		</div>-->
		<div>
			<label for="dilution">What is the dilution?</label>
			<input type="text" #diluteRatio value={{this.ccs.diluteRatio}}>
			<label for="totalvolume">What is the total volume?</label>
			<input type="text" #totalVolume value={{this.ccs.totalVolume}}>
			<p> </p>
		</div>
		<!-- TODO: When button is clicked, check for form validation. Set up a guard? -->
		<div class="text-center">
			<!--<button type="button" class="btn btn-primary" (click)="onLog(totalVolume.value)">Log</button>-->
			<button type="button" class="btn btn-primary" [routerLink]="['/boxselect']" (click)="onSend(diluteRatio.value,totalVolume.value)">Proceed</button>
		</div>
	</div>
<!--</form>-->
</div>