<div class="container">
	<p> Did you dilute your cell counting volume? If so, by how much?
	<br> </p>
	<div class="radio">
	  <label><input type="radio" name="opt" value="2">1/2</label>
	</div>
	<div class="radio">
	  <label><input type="radio" name="opt" value="4">1/4</label>
	</div>
	<div class="radio">
	  <label><input type="radio" name="opt" value="8">1/8</label>
	  </div>
	<div class="radio">
	  <label><input type="radio" name="opt" value="1">No</label>
	</div>
	<br>
	<form role="form">
	  <div class="form-group">
	    <label for="email">What is the total volume?</label>
	    <input type="text" id="totalvolume">
	  </div>
	</form>
	<!-- TODO: When button is clicked, check for form validation. Set up a guard? -->
	<div class="text-center">
		<button type="button" class="btn btn-primary">Proceed</button>
	</div>
</div>